<form class="form-group" action="/answer">
  <label for="askin">Ask your coach anything:</label>
  <div class="d-flex w-100">
    <input type="text" id="askin" name="question" class="flex-grow-1">
    <input type="submit" value="Ask!" class="btn btn-primary w-30">
  </div>
</form>
